In [36]:
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/Cora1218/pandas/main/store_sales.csv')
df1=pd.read_csv('https://raw.githubusercontent.com/Cora1218/pandas/main/date_info.csv')
df2=pd.read_csv('https://raw.githubusercontent.com/Cora1218/pandas/main/store_info.csv')

df3 =pd.merge(pd.merge(df,df1,left_on='sales_datetime', right_on='calendar_date'),df2,left_on='id', right_on='store_id')
df3

df4 = df3.groupby('sales_datetime')
df4.first()

,id,sales_count,calendar_date,day_of_week,holiday_flg,store_id,store_type,zone_name,latitude,longitude
sales_datetime,,,,,,,,,,
01/01/2016,db80363d35f10926,5,01/01/2016,Friday,1,db80363d35f10926,HOT & COLD,GDL,20.644773,-103.412269
01/01/2017,db80363d35f10926,2,01/01/2017,Sunday,1,db80363d35f10926,HOT & COLD,GDL,20.644773,-103.412269
01/02/2016,db80363d35f10926,2,01/02/2016,Monday,0,db80363d35f10926,HOT & COLD,GDL,20.644773,-103.412269
01/02/2017,db80363d35f10926,7,01/02/2017,Wednesday,0,db80363d35f10926,HOT & COLD,GDL,20.644773,-103.412269
01/03/2016,24b9b2a020826ede,3,01/03/2016,Tuesday,0,24b9b2a020826ede,HOT & COLD,GDL,20.644773,-103.412269
...,...,...,...,...,...,...,...,...,...,...
31/03/2016,24b9b2a020826ede,2,31/03/2016,Thursday,0,24b9b2a020826ede,HOT & COLD,GDL,20.644773,-103.412269
31/03/2017,24b9b2a020826ede,2,31/03/2017,Friday,0,24b9b2a020826ede,HOT & COLD,GDL,20.644773,-103.412269
31/05/2016,db80363d35f10926,44,31/05/2016,Tuesday,0,db80363d35f10926,HOT & COLD,GDL,20.644773,-103.412269
31/10/2016,db80363d35f10926,3,31/10/2016,Monday,0,db80363d35f10926,HOT & COLD,GDL,20.644773,-103.412269
31/12/2016,1033310359ceeac1,8,31/12/2016,Saturday,1,1033310359ceeac1,COLD,CDMX CENTER,19.434118,-99.138895